.container.main-container{
  width: 30%;
  margin: 30px auto 30px auto;
  padding: 0;
  border-radius: 4px;
  background-color: #f2f2f2;
  overflow: hidden;
}

h1 {
  background-color: #343a40;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 20pt;
}

.form-group{
  padding: 0px 20px 5px 20px;
}

.form-error{
  color: red;
  padding: 5px 20px 5px 20px;
  margin-left: 20px;
}

.btn.btn-dark{
  margin: 0px auto 20px auto;
  display: block;
}
