<div class="container main-container">
  <h1>AUTENTIFICARE</h1>
  <form [formGroup]="loginForm" >
    <div class="form-group">
      <label>Username:</label>
      <input type="text" class="form-control" formControlName="username">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
    <button class="btn btn-dark" type="button" (click)="logIn()">Log in</button>
    <span class="form-error">
    {{errorMessage}}
    </span>
  </form>
</div>

