td {
  padding: 15px;
}

h1 {
  padding: 30px 10px 10px 30px;
  font-size: 30pt;
}

h2 {
  padding: 0px 10px 30px 30px;
  font-size: 20pt;
}

#locatar {
  margin: auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container.main-container {
  margin-top: 30px;
  width: 55%;
}

a:visited {
  text-decoration: none;
  color: #212529;
}

a:hover {
  text-decoration: none;
  color: #212529;
}

a:focus {
  text-decoration: none;
  color: yellow;
}

a:hover, a:active {
  text-decoration: none;
  color: black
}
