<div class="container main-container">

  <div id="locatar">
    <h1>Locatar</h1>
    <h2>Bloc PLUS vă pune la dispoziție următoarele funcționalități!</h2>
  </div>

  <table align="center">
    <tr>
      <td>
        <a href="/create-event">
          <app-role-card [role]="'CREARE EVENIMENT'"
                         [text]="'Creați un eveniment și invitați vecinii să vi se alăture!'"></app-role-card>
        </a>
      </td>
      <td>
        <a href="/report-problem">
          <app-role-card [role]="'RAPORTAȚI O PROBLEMĂ'"
                         [text]="'Ați sesizat o problemă? Raportați-o, iar un administrator se va ocupa de ea!'"></app-role-card>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/sage-home">
          <app-role-card [role]="'SAGE-HOME'"
                         [text]="'Urmăriți tot ce se întâmplă în interiorul locuinței dvs. în orice moment!'"></app-role-card>
        </a>
      </td>
      <td>
        <a href="/subscribe">
          <app-role-card [role]="'STIRILE BLOCULUI'"
                         [text]="'Fiți mereu la curent cu tot ce întâmplă în blocul dvs.!'"></app-role-card>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/elections">
          <app-role-card [role]="'ALEGERI COMITET'" [text]="'Alegeți-vă comitetul blocului!'"></app-role-card>
        </a>
      </td>
      <td>
        <a href="/event">
          <app-role-card [role]="'EVENIMENTE'" [text]="'Vezi evenimentele din blocul tău blocul dvs!'"></app-role-card>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/report-problem">
          <app-role-card [role]="'RAPORTEAZA O PROBLEMA'" [text]="'Raportează o problemă!'"></app-role-card>
        </a>
      </td>
      <td>
        <a href="/consum">
          <app-role-card [role]="'CONSUM'" [text]="'Introduce consumul!'"></app-role-card>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/plata">
          <app-role-card [role]="'PLATA'" [text]="'Aici poți plăti facturile.'"></app-role-card>
        </a>
      </td>
      <td>
        <a href="/utilizare">
          <app-role-card [role]="'MOD UTILIZARE'" [text]="'Setari speciale pentru persoanele cu dizabilitati'"></app-role-card>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/abn">
          <app-role-card [role]="'ANOMALITATI'" [text]="'Raporteaza orice anomalitate ce ai remarcat-o.'"></app-role-card>
        </a>
      </td>
      <td>
        <a href="/notice-board">
          <app-role-card [role]="'AVIZIER'" [text]="'Vezi consumul si factura pentru utilitati'"></app-role-card>
        </a>
      </td>
    </tr>
  </table>
</div>
