<div class="container main-container">
  <h1>LUMINI</h1>
  <form class="form-group">
    <label>Setare interval de functionare a iluminatului automat</label><br>
    <input type="text" size="5" placeholder="18:00">
    -
    <input type="text" size="5" placeholder="6:00">
    <br>
    <br>
    <label>Stare lumini</label>
    <br>
    <input type="checkbox"> Pornite/Oprite
    <button class="btn btn-dark" id="vote_admin" type="button" (click)="createEvent()">Salveaza setari</button>
  </form>
</div>
