<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a href="" class="navbar-brand" >Bloc PLUS</a>
  <ul class="nav navbar-nav ml-auto">
    <div *ngIf="router.url === '/login'">
      <li class="nav-item">
        <a class="nav-link" *ngIf="!auth.isLoggedInAsAdmin() && !auth.isLoggedInAsCasier() && !auth.isLoggedInAsContabil() && !auth.isLoggedInAsPresident() && !auth.isLoggedInAsLocatar()" routerLink="/register">Register</a>
      </li>
    </div>
    <div *ngIf="router.url === '/register'">
      <li class="nav-item">
        <a class="nav-link" *ngIf="!auth.isLoggedInAsAdmin() && !auth.isLoggedInAsCasier() && !auth.isLoggedInAsContabil() && !auth.isLoggedInAsPresident() && !auth.isLoggedInAsLocatar()" routerLink="/login">Log In</a>
      </li>
    </div>

    <li class="nav-item">
      <a class="nav-link" *ngIf="auth.isLoggedInAsAdmin()" (click)="auth.logoutAdmin()">Logout</a>
      <a class="nav-link" *ngIf="auth.isLoggedInAsLocatar()" (click)="auth.logoutLocatar()">Logout</a>
      <a class="nav-link" *ngIf="auth.isLoggedInAsContabil()" (click)="auth.logoutContabil()">Logout</a>
      <a class="nav-link" *ngIf="auth.isLoggedInAsCasier()" (click)="auth.logoutCasier()">Logout</a>
      <a class="nav-link" *ngIf="auth.isLoggedInAsPresident()" (click)="auth.logoutPresident()">Logout</a>
    </li>
  </ul>
</nav>
