h1 {
  background-color: #343a40;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 20pt;
}

button{
  margin-left: 450px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

.container.main-container {
  margin: 30px auto 30px auto;
  padding: 0;
  border-radius: 4px;
  width: 50%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.form-group {
  padding: 0px 20px 5px 20px;
}

.anomalitate-label{
  font-weight: bold;
}

.actions{
  font-weight: bold;
  margin-left: 200px;
}
