<div class="container main-container">
  <h1>Anomalitati</h1>
  <div class="form-group">
    <label class="anomalitate-label">Anomalitate la apa:</label>
    <label class="actions">Actiuni:</label>
    <br>
    <label class="description">Consum crescut inexplicabil</label>
    <button class="btn btn-dark" id="oprire_apa" type="button" (click)="stopWater()">Oprire apa</button>
    <button class="btn btn-dark" id="companie_apa" type="button" (click)="callWater()">Contactare companie apa</button>
  </div>

  <div class="form-group">
    <label class="anomalitate-label">Anomalitate la gaz:</label>
    <label class="actions">Actiuni:</label>
    <br>
    <label class="description">Consum crescut inexplicabil</label>
    <button class="btn btn-dark" id="oprire_gaz" type="button" (click)="stopGas()">Oprire gaz</button>
    <button class="btn btn-dark" id="companie_gaz" type="button" (click)="callGas()">Contactare companie gaz</button>
  </div>

</div>
