.container.main-container {
  margin-top: 30px;
}

#home-txt {
  padding: 20px 20px 20px 20px;
  margin-right: 40px;
  margin-top: 50px;
  display: inline-block;
  width: 45%;
}

#home-img {
  display: inline-block;
  width: 50%;
}

#front {
  width: 100%;
  background-color: white;
  margin: 0px 0px 30px 0px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer{
  width: 100%;
  background-color: #212529;
  margin: 0px 0px 30px 0px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.row.cards-second-row {
  margin-bottom: 20px;
}

#img {
  display: inline-block;
  width: 100%;
}

#login-btn {
  margin: 10px 10px 10px 20px;
}

#logo {
  margin-bottom: 35px;
  display: inline-block;
  width: 80px;
}

h1 {
  display: inline-block;
  padding: 30px 10px 10px 20px;
  font-size: 50pt;
}

h2 {
  padding: 0px 10px 10px 20px;
}

h3 {
  font-size: 20pt;
  padding: 70px 10px 10px 20px;
  margin-top: 40px;
}

p {
  color: white;
  text-align: center;
  padding: 7px;
  margin: 0px;
}
