<div class="container main-container">
  <div id="front">
    <div id="home-txt">
      <img src="src\assets\images\logo.png" id="logo">
      <h1>Bloc PLUS</h1>
      <h2>Rezolvă-ți problemele cu noi în cel mai eficient mod!</h2>
      <button id="login-btn" class="btn btn-dark" type="button" (click)="login()">AUTENTIFICARE</button>
      <button class="btn btn-dark" type="button" (click)="auth()">ÎNREGISTRARE</button>
    </div>
    <div id="home-img"><img src="src\assets\images\lady.jpg" id="img"></div>
  </div>

  <div class="row">
    <div class="col">
      <app-role-card [role]="'Locatar'"
                     [text]="'Vizualizezi și plătești online întreținerea. Creezi propriul eveniment și participi la evenimentul vecinilor. Îți supraveghezi casa de oriunde!'"></app-role-card>
    </div>
    <div class="col">
      <app-role-card [role]="'Administrator'"
                     [text]="'Centralizezi și administrezi solicitările locatarilor. Ai acces în timp real la orice informație. Rezolvă eficient problemele apărute!'"></app-role-card>
    </div>
    <div class="col">
      <app-role-card [role]="'Președinte'"
                     [text]="'Ai acces de oriunde și oricând la modul în care asociația sau complexul rezidențial este administrat. Fii tot timpul la curent cu ce se întâmplă!'"></app-role-card>
    </div>
  </div>
  <div class="row cards-second-row">
    <div class="col-2"></div>
    <div class="col">
      <app-role-card [role]="'Contabil'"
                     [text]="'Ai acces la toate rapoartele și poți aproba online cotele de întreținere și cheltuielile lunare!'"></app-role-card>
    </div>
    <div class="col">
      <app-role-card [role]="'Casier'"
                     [text]="'Marchezi direct în aplicație ca plătite cotele de întreținere și fondurile și poți genera chitanțe!'"></app-role-card>
    </div>
    <div class="col-2"></div>
  </div>

  <div id="footer"><p>CONTACT: 0722 212 212 | OFFICE@BLOCPLUS.RO</p></div>
</div>
