<div class="container main-container">

  <div id="admin">
    <h1>Administrator</h1>
    <h2>Bloc PLUS vă pune la dispoziție următoarele funcționalități!</h2>
  </div>

  <table align="center">
    <tr>
      <td>
        <a href="/problems"><app-role-card [role]="'PROBLEME RAPORTATE'" [text]="'Rezolvați probleme raportate de către locatarii blocului!'"></app-role-card></a>
      </td>
      <td>
        <a href="/lights"><app-role-card [role]="'LUMINI'" [text]="'Seteaza optiunile pentru lumini'"></app-role-card></a>
      </td>
    </tr>
  </table>
</div>
