h1 {
  background-color: #343a40;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 20pt;
}

.container.main-container {
  margin: 30px auto 30px auto;
  padding: 0;
  border-radius: 4px;
  width: 50%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.cam-left{
  margin-left: 10px;
}

.cam-right{
  margin-left: 600px;
}

.card.bg-light {
  float: left;
  width: 50%;
  padding: 10px auto auto auto;
  margin: 10px auto 10px auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
