<div class="container main-container">
  <h1>SAGE-HOME</h1>

  <label class="cam-left">Camera 1</label>
  <label class="cam-right">Camera 2</label>
  <div class="row">
    <div class="card bg-light" style="width:350px; height: 300px;">
      <img id="camera-1-img" src="assets/images/camera-1.jpg" alt="cam1" width="350" height="300">
    </div>
    <div class="card bg-light" style="width:350px; height: 300px;">
      <img id="camera-2-img" src="assets/images/camera-2.jpg" alt="cam2" width="350" height="300">
    </div>
  </div>

  <label class="cam-left">Camera 3</label>
  <label class="cam-right">Camera 4</label>
  <div class="row">
    <div class="card bg-light" style="width:350px; height: 300px;">
      <img id="camera-3-img" src="assets/images/camera-3.jpg" alt="cam3" width="350" height="300">
    </div>
    <div class="card bg-light" style="width:350px; height: 300px;">
      <img id="camera-4-img" src="assets/images/camera-4.jpg" alt="cam4" width="350" height="300">
    </div>
  </div>
  <label class="cam-left">Camera 5</label>
  <label class="cam-right">Camera 6</label>
  <div class="row">
    <div class="card bg-light" style="width:350px; height: 300px;">
      <img id="camera-5-img" src="assets/images/no-camera.jpg" alt="cam5" width="350" height="300">
    </div>
    <div class="card bg-light" style="width:350px; height: 300px;">
      <img id="camera-6-img" src="assets/images/no-signal.jpg" alt="cam6" width="350" height="300">
    </div>
  </div>
</div>
