h1 {
  background-color: #343a40;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 20pt;
}

.container.main-container {
  margin: 30px auto 30px auto;
  padding: 0;
  border-radius: 4px;
  width: 60%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.form-group {
  padding: 0px 20px 5px 20px;
}

#envelope-img {
  height: 25%;
  width: 25%;
  display: block;
  padding: 20px 0px 20px 0px;
  margin: auto;
}

#subscribe-btn {
  margin: 0px auto 20px auto;
  display: block;
}
