<div class="container main-container">
  <h1>PROBLEME RAPORTATE</h1>

  <app-problem [author]="'Andrew.Shaw'" [problemName]="'Fereastră spartă'" [priority]="'Scăzută'"
               [reportDate]="'28/12/2018 12:12'" [description]="'Fereastră spartă la etajul 2'"
               [index]=0></app-problem>
  <app-problem [author]="'anonim'" [problemName]="'Usă spartă'" [priority]="'Ridicată'"
               [description]="'Ușă spartă la etajul 1'"
               [reportDate]="'28/12/2018 18:12'" [index]=1></app-problem>
  <app-problem [author]="'anonim'" [problemName]="'Usă spartă'" [priority]="'Ridicată'"
               [reportDate]="'28/12/2018 18:12'" [index]=2></app-problem>
</div>
