<div class="problem-container" name="problem">
  <label class="status" name="status">Nerezolvată</label><button id="remove-btn" class="close" (click)="remove()">&times;</button>
  <div class="form-group" id="data-container">
    <label class="data"><b>Nume: </b>{{problemName}}</label><br>
    <label class="data"><b>Prioritate: </b>{{priority}}</label><br>
    <label class="data"><b>Raportată de </b>{{author}} <b>în</b> {{reportDate}}</label><br>
  </div>
  <div class="form-group" id="btn-container">
    <table align="center">
      <tr>
        <td id="description-td">
          <button class="btn btn-dark" type="button" (click)="viewDescription()">Vizualizare descriere</button>
        </td>
        <td id="photos-td">
          <button class="btn btn-dark" type="button" (click)="showImage()">
            Vizualizare fotografie
          </button>
        </td>
      </tr>
    </table>
    <table align="center">
      <tr>
        <td id="mark-read-td">
          <button class="btn btn-dark" type="button" (click)="solveProblem()">Marchează problema ca fiind rezolvată
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
