.problem-container {
  margin: 30px auto 30px auto;
  padding: 0;
  border-radius: 5px;
  background-color: lightgray;
  overflow: hidden;
  width: 93%;
}

.form-group {
  padding: 0px 20px 5px 20px;
}

.data {
  padding: 3px;
  margin: 0px;
}

#data-container {
  background-color: darkgray;
  margin: 10px 20px 10px 20px;
  padding: 10px;
  border-radius: 5px;
}

.btn.btn-dark {
  width: 100%;
}

.status {
  padding: 5px;
  margin: 20px 0px 0px 20px;
  border-radius: 5px;
  background-color: orange;
}

#description-td {
  padding-right: 5px;
}

#photos-td {
  padding-left: 5px;
}

#mark-read-td{
  padding-top: 10px;
}

#remove-btn {
  color: lightgray;
  background-color: #212529;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin: 20px 20px 0px 0px;
  float: right;
}

table {
  margin: 0px;
  width: 100%;
}
