h1 {
  background-color: #343a40;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 20pt;
}

.container.main-container {
  margin: 30px auto 30px auto;
  padding: 0;
  border-radius: 4px;
  width: 50%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.form-group {
  padding: 0px 20px 5px 20px;
}

#problem-name-error {
  color: red;
  margin: 0px;
  padding-top: 10px;
}

#report-problem-btn {
  margin: 0px auto 20px auto;
  display: block;
}

#image {
  height: 45px;
}

#required-text {
  padding: 0px 20px 0px 20px;
  color: red;
}
