<div class="container main-container">
  <h1>RAPORTEAZĂ PROBLEMĂ</h1>

  <form>
    <div class="form-group">
      <label for="problem-name">Numele problemei *:</label>
      <input type="text" class="form-control" name="problem-name" id="problem-name" [(ngModel)]="problemName">
      <p id="problem-name-error">Numele problemei nu a fost menționat!</p>
    </div>

    <div class="form-group">
      <label for="priority">Prioritate:</label>
      <form id="priority" class="form-check" required>
        <input type="radio" name="priority" value="low" checked> Scăzută<br>
        <input type="radio" name="priority" value="medium"> Medie<br>
        <input type="radio" name="priority" value="high"> Ridicată
      </form>
    </div>

    <div class="form-group">
      <label for="description">Descrierea problemei:</label>
      <input type="text" class="form-control" name="description" id="description">
    </div>

    <div class="form-group">
      <label for="image">Atașați o fotografie:</label>
      <input type="file" class="form-control" name="image" id="image">
    </div>

    <div class="form-group">
      <input type="checkbox" name="notification" value="notification"> Vreau să fiu notificat când problema s-a rezolvat<br>
      <input type="checkbox" name="anonymous" value="anonymous"> Vreau să raportez problema ca utilizator anonim
    </div>

    <p id="required-text">Câmpurile marcate cu * sunt obligatorii!</p>

    <button class="btn btn-dark" id="report-problem-btn" type="button" (click)="reportProblem()">Raportează problemă
    </button>
  </form>
</div>
