<div class="container main-container">
  <h1>PAGINA EVENIMENTULUI</h1>

  <table align="center">
    <tr>
      <td>
        <app-role-card [role]="'NUME'" [text]="'Deszăpezire'"></app-role-card>
      </td>
      <td>
        <app-role-card [role]="'ORGANIZATOR'" [text]="'Andrew.Shaw'"></app-role-card>
      </td>
    </tr>
    <tr>
      <td>
        <app-role-card [role]="'DATA DE ÎNCEPUT'" [text]="'30/Dec/2018 12:00'"></app-role-card>
      </td>
      <td>
        <app-role-card [role]="'DATA DE SFÂRȘIT'" [text]="'30/Dec/2018 18:00'"></app-role-card>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-dark" id="description-btn" type="button" (click)="viewDescription()">Vizualizare
          descriere
        </button>
      </td>
      <td>
        <button class="btn btn-dark" id="photos-btn" type="button" onclick="window.open('assets/images/snow.jpg');">
          Vizualizare fotografie
        </button>
      </td>
    </tr>
  </table>

  <div class="chat">
    <h2>CHAT</h2>
    <textarea id="chat-box" rows="10" class="form-control"
              readonly>Raul.Fomby: Hello&#13;&#10;Marsha.Herm: Hi</textarea>
    <div class="container-class">
      <input type="text" class="form-control" name="chat-input" id="chat-input" placeholder="Scrieți ceva..."
             [(ngModel)]="chatMessage">
      <button class="btn btn-dark" id="send-btn" type="button" (click)="sendMessage()">Trimite</button>
    </div>
  </div>

  <div class="history">
    <h2>ISTORIC</h2>
    <textarea id="history-box" rows="10" class="form-control"
              readonly>30/12/2018 12:00: Andrew.Shaw a creat evenimentul&#13;&#10;30/12/2018 13:17: Brice.Carrey a donat 50 LEI pentru eveniment</textarea>
    <div class="container-class">
      <input type="text" class="form-control" name="donate-input" id="donate-input"
             placeholder="Introduceți suma pe care doriți să o donați în LEI aici..." [(ngModel)]="donatedAmount">
      <button class="btn btn-dark" id="donate-btn" type="button" (click)="donate()">Donează</button>
    </div>
  </div>
</div>
