h1 {
  background-color: #343a40;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 20pt;
}

h2 {
  background-color: darkgray;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 15pt;
  margin: 0px;
  border-radius: 5px 5px 0px 0px;
}

td {
  padding: 15px;
}

.container.main-container {
  margin: 30px auto 30px auto;
  padding: 0;
  border-radius: 4px;
  width: 52%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.chat, .history {
  width: 93%;
  margin: 10px auto 20px auto;
  display: block;
}

.container-class {
  overflow: hidden;
  white-space: nowrap;
}

#chat-box, #history-box {
  border-radius: 0px;
}

#chat-input, #donate-input {
  border-radius: 0px 0px 0px 3px;
  display: inline-block;
  width: 85%;
}

#send-btn, #donate-btn {
  display: inline-block;
  border-radius: 0px 0px 3px 0px;
  width: 15%;
}

#description-btn, #photos-btn {
  width: 100%;
}
