<div class="container main-container">
  <h1>NEWSLETTER</h1>

  <img id="envelope-img" src="assets/images/envelope-icon.png" alt="Envelope">
  <p align="center"><b>Stai la curent cu toate evenimentele care au loc în blocul nostru!</b></p>

  <div class="form-group">
    <form id="notification" class="form-check" required>
      <input type="radio" name="notification" value="email" checked> Vreau să primesc doar notificări prin e-mail<br>
      <input type="radio" name="notification" value="app"> Vreau să primesc notificări doar în contul aplicației<br>
      <input type="radio" name="notification" value="app-email"> Vreau să primesc notificări atât prin e-mail, cât și în contul
      aplicației
    </form>
  </div>

  <button class="btn btn-dark" id="subscribe-btn" type="button" (click)="subscribe()">Abonare</button>
</div>
