<div class="container main-container">
  <h1>CREEAZĂ EVENIMENT</h1>

  <form>
    <div class="form-group">
      <label for="event-name">Numele evenimentului *:</label>
      <input type="text" class="form-control" name="event-name" id="event-name" [(ngModel)]="eventName">
      <p id="event-name-error">Numele evenimentului nu a fost menționat!</p>
    </div>

    <div class="form-group">
      <label for="visibility">Vizibilitatea evenimentului:</label>
      <form id="visibility" class="form-check" required>
        <input type="radio" name="visibility" value="public" checked> Public<br>
        <input type="radio" name="visibility" value="private"> Privat
      </form>
    </div>

    <div class="form-group">
      <label for="begin-date">Data de început:</label>
      <input type="datetime-local" class="form-control" name="begin-date" id="begin-date" value="2018-01-01T12:00">
    </div>

    <div class="form-group">
      <label for="end-date">Data de sfârșit:</label>
      <input type="datetime-local" class="form-control" name="end-date" id="end-date" value="2018-01-01T12:00">
    </div>

    <div class="form-group">
      <label for="description">Descrierea evenimentului:</label>
      <input type="text" class="form-control" name="description" id="description">
    </div>

    <div class="form-group">
      <label for="image">Atașați o fotografie:</label>
      <input type="file" class="form-control" name="image" id="image">
    </div>

    <div class="form-group">
      <label for="invite">Invită alți locatari la eveniment introducând numele de utilizator al acestora:</label>
      <input type="search" class="form-control" name="invite" id="invite"
             placeholder="e.g. Raul.Fomby, Marsha.Herm, Bill.Carrey">
    </div>

    <p id="required-text">Câmpurile marcate cu * sunt obligatorii!</p>

    <button class="btn btn-dark" id="create-event-btn" type="button" (click)="createEvent()">Creează eveniment</button>
  </form>
</div>
