<div class="container main-container">

  <h1>ÎNREGISTRARE</h1>

  <form [formGroup]="registerForm" class="login-form">

    <div class="form-group">
      <label class="label">Username:</label>
      <input class="form-control" formControlName="username">
    </div>

    <div class="form-group">
      <label class="label">E-mail:</label>
      <input class="form-control" formControlName="email">
    </div>

    <div class="form-group">
      <label class="label">Password:</label>
      <input class="form-control" type="password" formControlName="password">
    </div>

    <div class="form-group">
      <button class="btn btn-dark" type="button" (click)="register()">ÎNREGISTREAZĂ-MĂ</button>
    </div>

  </form>


</div>
