<div class="container main-container">
  <h1>Avizier bloc</h1>
  <div class="form-group">
    <div class="aviziere">
      <label class="avizier-label">Avizier apa</label>
      <table class="tg">
        <tr>
          <th class="tg-0lax">Nr.</th>
          <th class="tg-0lax">Nume</th>
          <th class="tg-0lax">Consum</th>
          <th class="tg-0lax">Factura</th>
        </tr>
        <tr>
          <td class="tg-0lax">1</td>
          <td class="tg-0lax">Ion</td>
          <td class="tg-0lax">213</td>
          <td class="tg-0lax">251</td>
        </tr>
        <tr>
          <td class="tg-0lax">2</td>
          <td class="tg-0lax">Pop</td>
          <td class="tg-0lax">231</td>
          <td class="tg-0lax">425</td>
        </tr>
        <tr>
          <td class="tg-0lax">3</td>
          <td class="tg-0lax">Vasile</td>
          <td class="tg-0lax">145</td>
          <td class="tg-0lax">312</td>
        </tr>
        <tr>
          <td class="tg-0lax">4</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">5</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">6</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">7</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">8</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">9</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">10</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">11</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">12</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">13</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">14</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
      </table>
    </div>

    <div class="aviziere">
      <label class="avizier-label">Avizier gaz</label>
      <table class="tg">
        <tr>
          <th class="tg-0lax">Nr.</th>
          <th class="tg-0lax">Nume</th>
          <th class="tg-0lax">Consum</th>
          <th class="tg-0lax">Factura</th>
        </tr>
        <tr>
          <td class="tg-0lax">1</td>
          <td class="tg-0lax">Ion</td>
          <td class="tg-0lax">213</td>
          <td class="tg-0lax">251</td>
        </tr>
        <tr>
          <td class="tg-0lax">2</td>
          <td class="tg-0lax">Pop</td>
          <td class="tg-0lax">231</td>
          <td class="tg-0lax">425</td>
        </tr>
        <tr>
          <td class="tg-0lax">3</td>
          <td class="tg-0lax">Vasile</td>
          <td class="tg-0lax">145</td>
          <td class="tg-0lax">312</td>
        </tr>
        <tr>
          <td class="tg-0lax">4</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">5</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">6</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">7</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">8</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">9</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">10</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">11</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">12</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">13</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">14</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
      </table>
    </div>

  </div>
</div>
