h1 {
  background-color: #343a40;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 20pt;
}

.container.main-container {
  margin: 30px auto 30px auto;
  padding: 0;
  border-radius: 4px;
  width: 50%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.form-group {
  padding: 0px 20px 5px 20px;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top
}

.avizier-label{
  margin-left: 50px;
  font-weight: bold;
}

.form-group:after {
  content: "";
  display: table;
  clear: both;
}

.aviziere {
  float: left;
  width: 50%;
}
