<div class="container main-container">
  <h1>ÎNREGISTRARE CONSUM APĂ</h1>

  <div class="row consum">
    <span>Consum luna curenta:</span>
    <input type="number"  id="event-name-error"[(ngModel)]="consum">
    <button class="btn btn-dark" (click)="adaugare()">Adăugare</button>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="optradio">Plată automată lunar
      </label>
    </div>
  </div>
  <div class="row consum">
    <span>Evoluție consum față de luna precedentă: +{{procent}}%</span>
  </div>
  <div class="right">
    <div class="row">
      <span class="text" *ngIf="show">Ianuarie 2019: {{consum}}mc</span>
    </div>
    <div class="row">
      <span class="text">Decembrie 2018: 13mc</span>
    </div>
    <div class="row">
      <span class="text">Noiembrie 2018: 15mc</span>
    </div>
    <div class="row">
      <span class="text">Octombrie 2018: 10mc</span>
    </div>
    <div class="row">
      <span class="text">Septembrie 2018: 12mc</span>
    </div>
    <div class="row">
      <span class="text">August 2018: 8mc</span>
    </div>
    <div class="row">
      <span class="text">Iulie 2018: 13mc</span>
    </div>
  </div>
</div>
