.container.main-container {
  margin: 30px auto 30px auto;
  padding: 0;
  border-radius: 4px;
  width: 60%;
  background-color: #f2f2f2;
  overflow: hidden;
}

h1 {
  background-color: #343a40;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 20pt;
}

.consum {
  margin-left: 20px;
}

span {
  margin-right: 5px;
}

.form-check {
  margin-left: 10px;
}

.text {
  position: relative;
  left: 20px;
}

.right {
  height: 200px;
  width: 200px;
  color: white;
  float: right;
  margin-right: 80px;
  margin-bottom: 10px;
  background-color: #343a40;
}
