<div class="container main-container">
  <h1>MOD UTILIZARE</h1>
  <div class="form-check">
    <br><b>Selectați modul în care doriți să utilizați aplicația:</b><br><br>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optradio" [(ngModel)]="eventName" checked>Utilizare normală
    </label><br>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optradio" >Utilizare cu comenzi vocale
    </label>
  </div>
  <div class="row button-container">
    <button class="btn btn-dark" (click)="goToHome()">Salvare opțiune</button>
  </div>
</div>
