.container.main-container {
  margin: 30px auto 30px auto;
  padding: 0;
  border-radius: 4px;
  width: 60%;
  background-color: #f2f2f2;
  overflow: hidden;
}

h1 {
  background-color: #343a40;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 20pt;
}

.form-check {
  margin-left: 20px;
  margin-bottom: 20px;
}

.btn.btn-dark {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
