/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.main-container {
  margin-top: 200px;
}

.cards-second-row {
  margin-top: 30px;
}

body {
  background-image: url("src\assets\images\wallpaper.jpg");
  background-attachment: fixed;
}

.btn {
  text-transform: uppercase;
}
