h1 {
  background-color: #343a40;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 20pt;
}

button{
  float: right;
}

.container.main-container {
  margin: 30px auto 30px auto;
  padding: 0;
  border-radius: 4px;
  width: 50%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.form-group {
  padding: 0px 20px 5px 20px;
}

.btn.btn-dark{
  margin: 0px auto 20px auto;
  display: block;
}

#comitet-img{
  width: 300px;
  height: 180px;
  float: right;
}

#rules{
  color: blue;
  text-decoration: underline;
}

#obligatoriu{
  color: red;
  font-size: 12px;
  font-weight: bold;
}

#RAUrules{
  font-weight: bold;
}
