<div class="container main-container">
  <h1>ALEGERI COMITET</h1>

  <div class="form-group">
    <img id="comitet-img" src="assets/images/comitet-icon.jpg" alt="Comitet">
    Perioada de votare: 12-15 ianuarie 2019
    <p id="rules"> Regulament </p>
    <form id="RAUrules" class="form-check" required>
      <input type="radio" name="RAU" value="RAU" [(ngModel)]="eventName" > Am citit si inteles regulamentul*<br><br>
    </form>
    <p id="obligatoriu">*Obligatoriu</p>
  </div>

  <div class="form-group">
    <label for="admin"> Administrator </label>
    <form id="admin" class="form-check"  required >
      <input type="radio" name="admin" value="ion" [(ngModel)]="even1"> Ion <br>
      <input type="radio" name="admin" value="vasile" [(ngModel)]="even1"> Vasile
      <button class="btn btn-dark" id="vote_admin" type="button" (click)="vote1()" >Voteaza</button>
    </form>
  </div>

  <div class="form-group">
    <label for="casier"> Casier </label>
    <form id="casier" class="form-check" required>
      <input type="radio" name="casier" value="popescu" [(ngModel)]="even2"> Ionescu <br>
      <input type="radio" name="casier" value="ionescu" [(ngModel)]="even2"> Popescu <br>
      <input type="radio" name="casier" value="dumitrescu" [(ngModel)]="even2"> Dumitrescu
      <button class="btn btn-dark" id="vote_casier" type="button" (click)="vote2()" >Voteaza</button>
    </form>
  </div>

  <div class="form-group">
    <label for="contabil"> Contabil </label>
    <form id="contabil" class="form-check" required>
      <input type="radio" name="contabil" value="andrei" [(ngModel)]="even3"> Andrei <br>
      <input type="radio" name="contabil" value="alexandru" [(ngModel)]="even3"> Alexandru
      <button class="btn btn-dark" id="vote_contabil" type="button" (click)="vote3()" >Voteaza</button>
    </form>
  </div>

  <div class="form-group">
    <label for="presedinte"> Presedinte </label>
    <form id="presedinte" class="form-check"  required>
      <input type="radio" name="presedinte" value="cristi" [(ngModel)]="even4"> Cristi <br>
      <button class="btn btn-dark" id="vote_presedinte" type="button" (click)="vote4()" >Voteaza</button>
    </form>
  </div>

</div>
