.container.main-container {
  margin: 30px auto 30px auto;
  padding: 0;
  border-radius: 4px;
  width: 60%;
  background-color: #f2f2f2;
  overflow: hidden;
}

h1 {
  background-color: #343a40;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 20pt;
}

.consum {
  margin-left: 80px;
}

span {
  margin-right: 5px;
}

.suma {
  margin: auto;
}

.suma-container {
  margin-bottom: 50px;
  margin-top: 10px;
}

.form-check {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#plateste-btn {
  margin-left: 40px;
  margin-right: 360px;
}

.error {
  margin-left: 10px;
  color: red;
}
