<div class="container main-container">
  <h1>MODALITATE DE PLATĂ</h1>
  <div class="row suma-container">
    <span class="suma">Suma curentă în cont: <b>{{cont}} LEI</b></span>
  </div>
  <div class="row consum">
    <span>Număr card:</span>
    <input [(ngModel)]="numarCard" type="number">
    <span class="consum">Depunere sumă în cont:</span>
    <input type="number" [(ngModel)]="depunere">
    <span *ngIf="error" class="error">Numărul cardului nu a fost introdus!</span>
  </div>
  <div class="row">
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="optradio">Plata automată lunar
      </label>
      <button class="btn btn-dark"(click)="plateste()" id="plateste-btn">Plătește</button>
      <button class="btn btn-dark" (click)="depune()">Depune</button>
    </div>
  </div>
</div>
